
















body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    place-items: center;
    gap: 5rem;
    padding: 2rem 6rem;
    background-image: var(--bg-image);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    backdrop-filter: brightness(0.5);

}

h1{
    font-size: 4rem;
    font-weight: 900;
    text-align: center;
    font-family: var(--title-font);
    color: var(--primary-color);
    text-shadow: 0 0 10px var(--secondary-color);
}

aside{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

button{
    /* make it look exactly like a real button of a calculator in real life  */
    border: none;
    background-color: rgba(255, 255, 255, 0.9);
    color: var(--secondary-color);
    font-size: 2rem;
    font-weight: 900;
    font-family: var(--buttons-font);
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    transition: all 200ms ease-in-out;
    cursor: pointer;

    &:active{
        box-shadow: rgba(50, 50, 93, 0.25) 0px 10px 20px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    }
    
}

dialog{
    display: none;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~           TEMAS          ~~~~~~~~~~~~~~~~~~~~~~~~ */

[data-theme='cyberpunk'] {
    --main-color: #E100FF;
    --primary-color: #00F0FF;
    --secondary-color: #FF2A6D;

    --bg-image: url('/src/imgs/cyberpunk-bg.gif');

    --title-font: 'Oxanium', sans-serif;
    --display-font: 'Orbitron', sans-serif;
    --buttons-font: 'Rajdhani', sans-serif;
}


[data-theme='lofi'] {
    --main-color: #B87333;
    --primary-color: #5E2C04;
    --secondary-color: #6B8E23;

    --bg-image: url('/src/imgs/lofi-bg.gif');

    --display-font: 'Blackletter', sans-serif;
    --buttons-font: 'Cinzel', sans-serif;
}

[data-theme='fall'] {
    --main-color: #A1FF0A;
    --primary-color: #8A2BE2;
    --secondary-color: #000000;

    --bg-image: url('/src/imgs/fall-bg.gif');

    --display-font: 'Courier New', Courier, monospace;
    --buttons-font: 'Rajdhani', sans-serif;
}

[data-theme='harbor'] {
    --main-color: #FFD700;
    --primary-color: #8B0000;
    --secondary-color: #4682B4;

    --bg-image: url('/src/imgs/harbor-bg.gif');

    --display-font: 'Metropolis', Courier, monospace;
    --buttons-font: 'Times New Roman', sans-serif;
}

[data-theme='balcony'] {
    --main-color: #98FF98;
    --primary-color: #40E0D0;
    --secondary-color: #FFDE7D;

    --bg-image: url('/src/imgs/balcony-bg.gif');

    --display-font: 'Montserrat', Courier, monospace;
    --buttons-font: 'Quicksand', sans-serif;
}

[data-theme='rain'] {
    --main-color: #C0C0C0;
    --primary-color: #0077FF;
    --secondary-color: #000000;

    --bg-image: url('/src/imgs/rain-bg.gif');

    --display-font: 'Exo2', Courier, monospace;
    --buttons-font: 'Share Tech mono', sans-serif;
}

[data-theme='sakura'] {
    --main-color: #FFB6C1;
    --primary-color: #FF69B4;
    --secondary-color: #8B008B;

    --bg-image: url('/src/imgs/sakura-bg.gif');

    --display-font: 'Dancing Script', Courier, monospace;
    --buttons-font: 'Pacifico', sans-serif;
}
